<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        {% for message in form.name.errors %}
            {{message}}
        {% endfor %}
        {% for message in form.email.errors %}
            {{message}}
        {% endfor %}
        <form action="/contact" method="post">
            <div>
                {{form.name.label}}<br>
                {{form.name}}<br>

                {{form.email.label}}<br>
                {{form.email}}<br>

                {{form.gender.label}} {{form.gender}}<br>

                {{form.address.label}}<br>
                {{form.address}}<br>

                {{form.age.label}}<br>
                {{form.age}}<br>

                {{form.language.label}}<br>
                {{form.language}}<br>

                {{form.submit}}<br>
            </div>
        </form>
    </body>
</html>