<!DOCTYPE html>  
<html>  
    <body>  
        <h3>Add new Employee</h3>  
        <hr/>  
        
        {%- for category, message in get_flashed_messages(with_categories = true) %}  
            <div class = "alert alert-danger">  
            {{ message }}  
            </div>  
        {%- endfor %}  
        
        <form action = "{{ request.path }}" method = "post">  
            <label for = "name">Name</label><br>  
            <input type = "text" name = "name" placeholder = "Name" /><br>  

            <label for = "salary">Salary</label><br>  
            <input type = "text" name = "salary" placeholder = "salary" /><br>  
            
            <label for = "age">Age</label><br>  
            <textarea name = "age" placeholder = "age"></textarea><br>  
            
            <label for = "PIN">Pin</label><br>  
            <input type = "text" name = "pin" placeholder = "pin" /><br>  
            
            <input type = "submit" value = "Submit" />  
        </form>  
    </body>  
</html>