<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Welcome to Flash Website</h1>
        Please <a href="{{url_for('login')}}"><h3>Login</h3></a>
    </body>
</html>