<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% if error %}
            <p><b>Error: </b>{{error}}</p>
        {% endif %}
        <form action="/login" method="post">
            Username: <input type="text" name="uname"/>
            Password: <input type="password" name="pwd"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>