<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="alert alert-success" role="alert">
                <h3>Welcome {{ user.username }}!</h3>
                <a href="{% url 'logout' %}">Logout?</a>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <h3>Welcome!</h3>
                <a href="{% url 'register' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
    </body>
</html>