<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>{{field.label}}<br>{{field}}</p>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>
    </body>
</html>