<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <p>{{field.label}}<br>{{field}}</p>
                {% for error in field.errors %}
                    <small style="color: red;">{{error}}</small>
                {% endfor %}
            {% endfor %}

            <button type="submit">Register</button>
        </form>
    </body>
</html>