<!doctype html>
<html lang="en">
  <head>
    <title>Video Uploader</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>    
    <p><a href="{% url 'home' %}">Return to home</a></p>
  </body>
</html>