<!DOCTYPE html>
<html>
    <head>
        <title>Get Session</title>
    </head>
    <body>
        <h1>Session get {{name}}</h1>
        <h1>{{request.session.get_session_cookie_age}}</h1>
        <h1>{{request.session.get_expiry_age}}</h1>
        <h1>{{request.session.get_expiry_date}}</h1>
    </body>
</html>