<!DOCTYPE html>
<html>
  <head>
    <style>
     body {
      color: pink;
      text-align: center;
      } 
 
    </style>
  </head>
  <body>
    
    <h1>Hello, {{ user.username|default:'Guest' }}</h1>

    <p> Welcome to the Our site</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
    
      {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
  </div>
  
  </body>
</html>