<!DOCTYPE html>
<html>
    <head>
        <title>Info table</title>
    </head>
    <body>
        <table border = 1>
            {% for key, values in result.items() %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ values }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>