<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
        <script type="text/javascript" src="{{ url_for('static', filename='hello_world.js') }}"></script>
    </head>
    <body>
        <h1>Hello World</h1>
        <input type="button" onclick="sayHello()" value="Say Hello"/>
    </body>
</html>