<!DOCTYPE html>  
<html>  
    <head>  
        <title>save details</title>  
    </head>  
    <body>  
        <h3>Hi Admin, {{msg}}</h3>  
        <a href="/view">View Employees</a>  
    </body>  
</html>  